<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>Favoris</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- affiche une animation de chargement pendant que l'appel api -->
  <div *ngIf="!(content || error)" style="text-align: center;">
    <br>
    <ion-spinner></ion-spinner>
  </div>

  <!-- même chose que la page News -->
  <div *ngIf="content">
    <div *ngFor="let favori of favoris">
      <ion-card
        (click)="selectedNews(favori.url, favori.urlToImage, favori.source.name, favori.title, favori.description, favori.content)">
        <ion-img [src]="favori.urlToImage"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{favori.source.name}}</ion-card-subtitle>
          <ion-card-title>{{favori.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{favori.description}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <!-- affiche le message si aucun favoris n'a été trouvé -->
  <div id="container" *ngIf="error">
    Vous n'avez aucuns favoris
  </div>

</ion-content>
