<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" ios="add-outline" md="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>{{source}}</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="!qrcode">
    <ion-img [src]="urlToImage"></ion-img>
    <h1>{{title}}</h1>
    {{content}}
    <ion-button [href]="url">lire la suite</ion-button>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="setQRCode()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="copy()">
          <ion-icon name="link-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>

  <ng-container *ngIf="qrcode">
    <div class="container" (click)="setQRCode()">
      <qrcode class="container" [qrdata]="data" [width]="384"></qrcode>
    </div>
  </ng-container>

</ion-content>
