<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" ios="add-outline" md="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>{{source}}</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<!-- menu QRCode -->
<ion-segment value="app" *ngIf="qrcode">
  <ion-segment-button (click)="segment = 0" value="app">
    <ion-label >Via Application</ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="segment = 1" value="url">
    <ion-label>via URL</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>

  <!-- même chose que la page News excepté que ce n'est pas dans une boucle -->
  <ng-container *ngIf="!qrcode">
    <div *ngIf="urlToImage != null">
      <ion-img [src]="urlToImage"></ion-img>
    </div>
    <ion-card-content>
      <ion-item>
        <h1>{{title}}</h1>
      </ion-item>
      <br>
      <div style="text-align: justify;">
        <h2>{{content}}</h2>
      </div>
      <br>
      <div class="ion-text-end">
        <ion-button [href]="url">lire la suite</ion-button>
      </div>
    </ion-card-content>

    <!-- bouton de partage -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <!-- menu partage native d'Android -->
        <ion-fab-button (click)="share()">
          <ion-icon name="share-outline"></ion-icon>
        </ion-fab-button>
        <!-- affiche le QRCode de partage -->
        <ion-fab-button (click)="setQRCode()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
        <!-- copie dans le presse-papier l'url de l'article -->
        <ion-fab-button (click)="copy()">
          <ion-icon name="link-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>

  <ng-container *ngIf="qrcode">
    <div class="container" (click)="setQRCode()">
      <!-- QRCode contenant l'article -->
      <ng-container *ngIf="segment === 0">
        <qrcode class="container" [qrdata]="data" [width]="384"></qrcode>
      </ng-container>
      <!-- QRCode contenant l'url de l'article -->
      <ng-container *ngIf="segment === 1">
        <qrcode class="container" [qrdata]="url" [width]="384"></qrcode>
      </ng-container>
    </div>
  </ng-container>

</ion-content>
