<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="aPropos()">À propos de</ion-item>
    <ion-item>Langue des articles : <ion-button (click)="changeLang()" color="light"> {{ lang}}  </ion-button> </ion-item>
    <ion-item (click)="resetFavoris()">Reset Favoris</ion-item>
    <ion-item (click)="resetAppPref()">Reset préférence de la langue</ion-item>
  </ion-list>
</ion-content>
