<ion-header [translucent]="true">
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-searchbar (keyup.enter)="getSearch(search.value, column.value)" showCancelButton="always" (ionCancel)="back()" class="searchbar" type="search" placeholder="Rechercher" #search></ion-searchbar>
    <div class="ion-text-end">
      <ion-button (click)="columnSources()" color="light"> {{column.title}}</ion-button>
    </div>

  </ion-toolbar>

  <div *ngIf="content">
    <div *ngFor="let article of articles">
      <ion-card (click)="selectedNews(article.url, article.urlToImage, article.source.name, article.title, article.description, article.content)">
        <img src={{article.urlToImage}} />
        <ion-card-header>
          <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{article.description}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
