<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="secret()">À propos de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item> <ion-icon name="apps-outline"></ion-icon>  nom de l'app : {{nom}} </ion-item>
    <ion-item> ⬆️ version : {{ version }} </ion-item>
    <ion-item> <ion-icon name="logo-android" style="color: green;"></ion-icon>  Android : {{androidVersion}} </ion-item>
    <ion-item> 📱 Constructeur : {{constructeur}} </ion-item>
    <ion-item> ⚙️ Modèle : {{model}} </ion-item>
  </ion-list>
  <br>
  <div class="ion-text-end">
    <ion-button (click)="problem()"> <ion-icon name="mail-outline"></ion-icon> Signaler un problème</ion-button>
  </div>

  <br> <br>

  {{blague?.joke}} <br> {{blague?.answer}}

</ion-content>
