<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="easterEgg()">À propos de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  nom de l'app : {{nom}}
  <br>
  version : {{version}}
  <br>
  Android : {{androidVersion}}
  <br> 
  Constructeur : {{constructeur}}
  <br>
  Modèle : {{model}}
  <br>
  Serial : {{serial}}
  <br>
  <ion-button >Copier</ion-button>
  
  <br> <br>

  {{egg?.joke}} <br> {{egg?.answer}}

</ion-content>
