<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <div (click)="search()">
          <ion-icon slot="icon-only" ios="add-outline" md="search"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>News</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-text-center" *ngIf="!content">
    <br>
    <ion-spinner></ion-spinner>
  </div>
  
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="content">
    <div *ngFor="let article of articles">
      <ion-card>
        <a href={{article.url}}><img src={{article.urlToImage}}/></a>
        <ion-card-header>
          <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{article.description}}
          <strong><u>Lire la suite</u></strong>
        </ion-card-content>
        <ion-button (click)="favoris(article.url, article.urlToImage, article.source.name, article.title, article.description)">Favoris (test)</ion-button>
      </ion-card>
    </div>
  </div>

</ion-content>
