<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>News</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!content">
    <ion-card *ngFor="let item of [].constructor(20)">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="content">
    <div *ngFor="let article of articles">
      <ion-card href={{article.url}}>
        <img src={{article.urlToImage}} />
        <ion-card-header>
          <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          {{article.content}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
