<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>Favoris</ion-card-title>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!(content || error)" style="text-align: center;">
    <br>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="content">
    <div *ngFor="let favori of favoris">
      <ion-card>
        <a href={{favori.url}}><img src={{favori.urlToImage}} /></a>
        <ion-card-header>
          <ion-card-subtitle>{{favori.source.name}}</ion-card-subtitle>
          <ion-card-title>{{favori.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{favori.description}}
          <strong><u>Lire la suite</u></strong>
        </ion-card-content>
        <ion-button (click)="test(favori.id)">Supprimer</ion-button>
      </ion-card>
    </div>
  </div>

  <div id="container" *ngIf="error">
    Vous n'avez aucuns favoris
  </div>

</ion-content>
