<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="select()">select</ion-button>
  <ion-button (click)="testUser()">test</ion-button>
  <ion-button (click)="insertdb()">insert</ion-button>
  <table *ngIf="content">
    <tr *ngFor="let user of users">
      <td>
        {{user.description}}
        test
      </td>
    </tr>
  </table>
</ion-content>
